<!DOCTYPE html>
    <html xmls:th="https://www.thymeleaf.org" lang="en">

        <head>
            <meta charset='utf-8'>
            <meta http-equiv='X-UA-Compatible' content='IE=edge'>
            <title>DISQUERA DISCOKENI</title>
            <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" th:href="@{/css/CssGenero.css}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.css">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

        </head>

        <body>

            <div class="conten">
                <div class="tabla">
                    <div>
                        <h3>Disquera</h3> 
                        <button type="button" name="control" class="submitBtn btn-light" onclick="window.location='form'">NUEVO</button>
                        <button type="button" name="control" class="submitBtn btn-light" onclick="window.location='../index'">INICIO</button>   
                    </div>
                    <div th:if="${disqueras.size()==0}" class="alert alert-warning alert-dismissible fade show" role="alert">
                        No hay disquera para mostrar
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <table class="table table-striped">
                        <!--<thead>-->
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">NIT</th>
                            <th scope="col">NOMBRE</th>
                            <th scope="col">TELEFONO</th>
                            <th scope="col">DIRECCION</th>
                            <th scope="col">ESTADO</th>
                            <th scope="col">ACCION</th>
                        </tr>
                        <!--</thead>-->
                        <!--<tbody>-->
                            <tr th:if="${disqueras.size()>0}" th:each="d:${disqueras}">
                                <td th:text="${d.IdDisquera}"></td>
                                <td th:text="${d.NitDisquera}"></td>
                                <td th:text="${d.NombreDisquera}"></td>
                                <td th:text="${d.TelefonoDisquera}"></td>
                                <td th:text="${d.DireccionDisquera}"></td>
                                <!---->
                                <td th:if="${d.EstadoDisquera==true}">
                                    <span class="badge bg-success active">Activo</span>
                                </td>
                                <td th:if="${d.EstadoDisquera==false}">
                                    <span class="badge bg-danger active">Inactivo</span>
                                </td>
                                <!---->
                                <td>
                                    <a disquera="button" class="btn btn-info" th:href="@{/disquera/ver/}+${d.IdDisquera}">EDITAR</a>
                                    
                                    <a disquera="button" class="btn btn-danger" th:href="@{/disquera/delete/} + ${d.IdDisquera}" onclick="return confirm('Estás seguro que quieres eliminar esta disquera?');">ELIMINAR</a>
                                </td>
                            </tr>
                        <!--</tbody>-->
                    </table>
                </div>
            </div>
        </body>

        </html>